.background {
  background-image: url(https://wallpapercave.com/wp/wp1933949.png);
  height: 100vh;
}

.bonfire {
  width: 4rem;
  margin: 2px;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
}
