.background {
  background-image: url(https://wallpapercave.com/wp/wp1933949.png);
  background-size: cover;
  width: 100%;
}

.bonfire {
  width: 4rem;
  margin: 2px;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
}
